<!DOCTYPE html>
<html lang="en">
<body>

<div class="body-inner">
<section id="page-title" data-bg-parallax="images/parallax/14.jpg">
<div class="bg-overlay"></div>
<div class="container">
<div class="page-title">
<h1 class="text-uppercase text-medium">ABOUT US</h1>
<span>Work is easy when you have all tools around you!</span>
</div>
</div>
</section>

<section class="p-b-10">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="heading-text heading-section">
<h2>THE COMPANY</h2>
<span class="lead">The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. </span>
</div>
</div>
<div class="col-lg-6 m-t-60">
<div class="p-progress-bar-container title-up small extra-small color">
<div class="p-progress-bar" data-percent="100" data-delay="100" data-type="%">
<div class="progress-title">HTML5</div>
</div>
</div>
<div class="p-progress-bar-container title-up small extra-small color">
<div class="p-progress-bar" data-percent="94" data-delay="200" data-type="%">
<div class="progress-title">CSS3</div>
</div>
</div>
<div class="p-progress-bar-container title-up small extra-small color">
<div class="p-progress-bar" data-percent="78" data-delay="300" data-type="%">
<div class="progress-title">JQUERY</div>
</div>
</div>
<div class="p-progress-bar-container title-up small extra-small color">
<div class="p-progress-bar" data-percent="65" data-delay="400" data-type="%">
<div class="progress-title">MYSQL</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- WHAT WE DO Start -->
<section>
<div class="container">
<div class="heading-text heading-section text-center">
<h2>WHAT WE DO</h2>
<span class="lead">Create amaThe most happiest time of the day!.</span>
</div>
<div class="row">
<div class="col-lg-4">
<div>
<h4>Web Development</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
<div class="col-lg-4">
 <div>
<h4>Social Marketing</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
<div class="col-lg-4">
<div>
<h4>Graphic Design</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
<div class="col-lg-4">
<div>
<h4>Web Design</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
<div class="col-lg-4">
<div>
<h4>App Development</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
<div class="col-lg-4">
<div>
<h4>Hosting services</h4>
<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
</div>
</div>
</div>
</div>
</section>
<!-- WHAT WE DO End -->

<div class="seperator"><i class="fa fa-chevron-down"></i>
</div>

<!-- CLIENT Start -->
<section>
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p class="lead">Our awesome clients we've had the pleasure to work with!</p>
</div>
</div>
<ul class="grid grid-5-columns">
<li>
<a href="#"><img src="assets\images\clients\1.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\2.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\3.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\4.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\5.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\6.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\7.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\8.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\9.png" alt="">
</a>
</li>
<li>
<a href="#"><img src="assets\images\clients\10.png" alt="">
</a>
</li>
</ul>
</div>
</section>
<!-- CLIENT End-->
</div> 


<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
</body>
</html>
<app-footer></app-footer>





