<footer id="footer" class="inverted">
    <div class="footer-content">
    <div class="container">
    <div class="row">
    <div class="col-lg-5">
    <div class="widget">
    <div class="widget-title">Polo HTML5 Template</div>
    <p class="mb-5">Nijanand Pipes and Fittings Pvt. Ltd. is Gujarat's largest manufacturer of Polyvinyl Chloride Pipes. For the past 12 years, we proved to be Number 1 in the domestic market. With the ever-rising demand abroad, we aim to be one of the largest exporters of plastic piping systems from South Asia.</p>
    <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923" class="btn btn-inverted" target="/contact">Contact Us</a>
    </div>
    </div>
    <div class="col-lg-7">
    <div class="row">
    <div class="col-lg-3">
    <div class="widget">
    <div class="widget-title">Quick links</div>
    <ul class="list">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="products">Product</a></li>
        <li><a href="global-presence">Global Presence</a></li>    
        <li><a href="blogs">Blog</a></li>
        <li><a href="contact-us">Contact us</a></li>
    </ul>
    </div>
    </div>
    <!-- Social Icons Start -->
    <div class="widget">
        <div class="widget-title">Follow us</div>
        <ul class=" mb-4 social-icons social-icons-colored-hover">
            <li class="social-facebook"><a href="https://www.facebook.com/NijanandPipesandFittings/"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-twitter"><a href="https://twitter.com/NijanandPipes"><i class="fab fa-twitter"></i></a></li>

        </ul>
        </div>
        <!-- Social Icons End -->
    <!-- <div class="col-lg-3">
    <div class="widget">
    <div class="widget-title">Features</div>
    <ul class="list">
    <li><a href="#">Layouts</a></li>
    <li><a href="#">Headers</a></li>
    <li><a href="#">Widgets</a></li>
    <li><a href="#">Footers</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3">
     <div class="widget">
    <div class="widget-title">Pages</div>
    <ul class="list">
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Shop</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3">
    <div class="widget">
    <div class="widget-title">Support</div>
    <ul class="list">
    <li><a href="#">Help Desk</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Contact Us</a></li>
    </ul>
    </div>
    </div> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="copyright-content">
    <div class="container">
    <div class="copyright-text text-center">&copy; All Rights Reserved. Nijanand Pipes and Fittings Pvt. Ltd.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"></a> </div>
    </div>
    </div>
    </footer>