<header id="header" data-transparent="false" data-fullwidth="true" class="dark submenu-dark">
   <div class="header-inner">
   <div class="container">
   
   <div id="logo">
   <a href="index.html">
   <span class="logo-default">POLO</span>
   <span class="logo-dark">POLO</span>
   </a>
   </div>
   
   
   <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
   <form class="search-form" action="search-results-page.html" method="get">
   <input class="form-control" name="q" type="text" placeholder="Type & Search...">
   <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
   </form>
   </div>
   
  <div id="mainMenu-trigger">
   <a class="lines-button x"><span class="lines"></span></a>
   </div>
   
   
   <div id="mainMenu">
   <div class="container">
   <nav>
   <ul>
   <li><a href="index.html">Home</a></li>
   </ul>
   </nav>
   </div>
   </div>
   
   </div>
   </div>
   </header>